<mat-card class="container mat-elevation-z10">
    <div class="head">
        <mat-card-title color="primary" style="text-transform: capitalize; margin: 1rem;">{{list.name}}</mat-card-title>
        <button mat-button class="menu_btn" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before" style="display: none">
            <button mat-menu-item (click)="onAction(ACTION.RENAME)">
                <mat-icon>drive_file_rename_outline</mat-icon>
                {{ACTION.RENAME}}
            </button>
            <button mat-menu-item (click)="onAction(ACTION.DELETE)">
                <mat-icon>delete_outline</mat-icon>
                {{ACTION.DELETE}}
            </button>
        </mat-menu>
    </div>
    <div cdkDropList [cdkDropListData]="list" class="list" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of list.data" cdkDrag>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <tasks-ui-item [item]="item" (update)="updateItem($event)"></tasks-ui-item>
        </div>
        <div class="empty-list" *ngIf="!list.data.length">Your tasks will appear here!</div>
    </div>
    <button mat-raised-button class="add_button" color="primary" (click)="addNewItem()">
        <mat-icon>add</mat-icon> Task
    </button>
</mat-card>
