@import "../../../assets/variable.scss";
.view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.2rem;

  @media screen and (max-width: $mobile) {
    width: fit-content;
    margin: 70px auto;
    justify-content: center;
  }
}

.intro {
  max-width: 50rem;
  padding: 2rem;
  margin: auto;

  ul {
    line-height: 2.4rem;
  }
}
